#words {
  font: 43px Courier New, verdana, sans-serif;
  padding: 7;
  background-color: #FAFAFA;
}

#wordsTitle {
  font-size: 53px;
  text-align: center;
  font-weight: bold;
}

#wordsSmall {
  font-size: 20px;
}

#wordsTA {
  height: 400px;
  width: 80%;
  font: 25px Courier New, verdana, sans-serif;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #e8e8e8;
  padding: 22px;
  color: #545454;
}

#wordsData {
  font-size: 35px;
  padding: 0 5px 8px 5px;
}
