#words {
  font: 43px Courier New, verdana, sans-serif;
  padding: 7;
  background-color: #FAFAFA;
}

#wordsTitle {
  font-size: 53px;
  text-align: center;
  font-weight: bold;
}

#wordsTA {
  height: 70%;
  width: 90%;
  font-size: 40px;
}

#wordsData {
  font-size: 35px;
}
