
#gpa { font: 43px Courier New, verdana, sans-serif; padding: 7; background-color: #FAFAFA; }
#gpaTitle { font: 43px Courier New, verdana, sans-serif; text-align: center; }
#gpa form { padding: 24px 0 0 35px; }
#gpaTitle { font-size: 53px; }
.gpaTHead { font-size: 32px; }
.gpaA { height: 30px; padding: 0 20px 0 20px; opacity: 0.6; }
.gpaA:hover { opacity: 0.8; }
.gpaH { height: 32px; padding: 0 20px 0 20px; opacity: 0.8; }
.gpaH:hover { opacity: 0.7; }
#gpaText { color: green; font-size: 45px; }