#home { font: 46px Courier New, verdana, sans-serif; padding: 7; background-color: #FAFAFA; }
#homeTitle { font-size: 70px; font-weight: bold; }
#homeImg { height: 200px; }
#homeText { font-size: 40px; }